body
{
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
#banner
{
    height: 30%;
    width: 100%;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#logo
{
    width: 50% auto;
    height: 30%;
}
.navbar
{
    height: 50px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}